.container {
    width: 550px;
    margin: auto;
    text-align: center;
}
.running-score {
    display: flex;
    justify-content: space-evenly;
}
.match {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.button {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.player-score, .computer-score {
    border: 2px solid black;
    height: 30px;
    width: 40px;
    font-size: 25px;
    padding: 20px;
}
button {
    height:22px;
    width:67px;
}
img {
    height: 150px;
    width: 150px;
}